<!DOCTYPE html>
<html>
<head>
    <title>{$news.title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <meta charset="UTF-8">
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>{$news.title}</h4></div>
        <div class="panel-body">
            <p>
                {$news.excerpt}
            </p>
        </div>
        <div class="panel-footer">
            <if condition="!empty($front)">
                <div>上一条:<a href="{:U('Home/Wechat/show',array('id' => $front['id']))}">{$front.title}</a></div>
                <else/>
                <div>上一条:<a href="#">没有了</a></div>
            </if>

            <if condition="!empty($after)">
                <div>下一条:<a href="{:U('Home/Wechat/show',array('id' => $after['id']))}">{$after.title}</a></div>
                <else/>
                <div>下一条:<a href="#">没有了</a></div>
            </if>
        </div>
    </div>

</body>
</html>