include file="Public/header"/>

<div class="center">

    <a href="javascript:;" id="prev" style="cursor:pointer" class="bgStretcherNav bgStretcherNavPrev">
        <div style="height:40px; width:40px;position:fixed;left:0;bottom:300px; background:url(images/prev1.png) no-repeat; line-height:40px; text-align:center;margin-top:1px;"></div>
    </a>
    <a href="javascript:;" id="next" style="cursor:pointer" class="bgStretcherNav bgStretcherNavNext">
        <div style="height:40px; width:40px; position:fixed;right:0;bottom:300px; background:url(images/next1.png) no-repeat;line-height:40px;text-align:center;margin-top:1px;"></div>
    </a>

    <div class="center_container">
        <!-- 图片描述 -->
        <div id="pic_desc">
            <h3>111服装节开始啦！</h3>

            <p>111一年一度的服装节开始，时间是5月17日详情..</p>
        </div>


        <!-- 新闻模块 -->
        <div class="news_bg">

            <div id="tab-list">
                <ul id="ul1">
                    <li class="active">
                        <img src="images/xgxw.png"/>
                        <a>学工新闻</a>
                    </li>
                    <li>
                        <img src="images/tzgg.png"/>
                        <a>通知公告</a>
                    </li>
                    <li>
                        <img src="images/hdzx.png"/>
                        <a>卫生检查</a>
                    </li>
                </ul>

                <div class="active">
                    <ul>
                        <li>
                            <a href="http://news.hitwh.edu.cn/news_show.asp?id=19116" target="_blank"
                               title="哈工大（威海）第三届四次教代会召开" style="color:#feff9b;">
                                <span class="rq">4-24</span>
                                哈工大（威海）第三届四次教代会召开
                            </a>
                        </li>
                        <li>
                            <a href="http://news.hitwh.edu.cn/news_show.asp?id=19097" target="_blank"
                               title="【记忆】其实一直有梦">
                                <span class="rq">4-24</span>
                                【记忆】其实一直有梦
                            </a>
                        </li>
                        <li>
                            <a href="http://news.hitwh.edu.cn/news_show.asp?id=19095" target="_blank"
                               title="校区基层党组织负责人参观海军“模范艇”">
                                <span class="rq">4-23</span>
                                校区基层党组织负责人参观海军“模范艇”
                            </a>
                        </li>
                        <li>
                            <a href="http://news.hitwh.edu.cn/news_show.asp?id=19091" target="_blank"
                               title="读书，是为了遇见更好的自己——写在 “4•23”世界读书日之际">
                                <span class="rq">4-23</span>
                                读书，是为了遇见更好的自己——写在 “4•23”世..
                            </a>
                        </li>
                        <li>
                            <a href="http://news.hitwh.edu.cn/news_show.asp?id=19069" target="_blank"
                               title="党委书记姜波一行走访五院总体部">
                                <span class="rq">4-22</span>
                                党委书记姜波一行走访五院总体部
                            </a>
                        </li>
                        <li>
                            <a href="http://news.hitwh.edu.cn/news_show.asp?id=19067" target="_blank"
                               title="各代表团分团讨论：聚焦人才培养  共谋特色发展">
                                <span class="rq">4-21</span>
                                各代表团分团讨论：聚焦人才培养 共谋特色发展
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="hide">
                    <ul>
                        <li>

                            <a href="http://today.hitwh.edu.cn/news_show.asp?id=18894" target="_blank"
                               title="关于召开第三届四次教职工代表大会的通知" style="color:#feff9b">
                                <span class="rq">4-10</span>
                                关于召开第三届四次教职工代表大会的通知
                            </a>
                        </li>
                        <li>
                            <a href="http://today.hitwh.edu.cn/news_show.asp?id=19117" target="_blank"
                               title="关于2#专家公寓储藏室、车库选购事宜的通知">
                                <span class="rq">4-25</span>
                                关于2#专家公寓储藏室、车库选购事宜的通知
                            </a>
                        </li>

                        <li>
                            <a href="http://today.hitwh.edu.cn/news_show.asp?id=19114" target="_blank"
                               title="第九届读书节开幕了！">
                                <span class="rq">4-24</span>
                                第九届读书节开幕了！
                            </a>
                        </li>
                        <li>
                            <a href="http://today.hitwh.edu.cn/news_show.asp?id=19113" target="_blank"
                               title="月读一本书，感悟心中出——《影响力》">
                                <span class="rq">4-24</span>
                                月读一本书，感悟心中出——《影响力》
                            </a>
                        </li>
                        <li>
                            <a href="http://today.hitwh.edu.cn/news_show.asp?id=19105" target="_blank"
                               title="校区30周年纪念主题文化衫设计大赛通知">
                                <span class="rq">4-24</span>
                                校区30周年纪念主题文化衫设计大赛通知
                            </a>
                        </li>
                        <li>
                            <a href="http://today.hitwh.edu.cn/news_show.asp?id=19102" target="_blank"
                               title="转发校本部：关于协助推荐江苏省第八批科技镇长团成员、团长人选的通知">
                                <span class="rq">4-24</span>
                                转发校本部：关于协助推荐江苏省第八批科技镇长团成员..
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="hide">
                    <ul>
                        <li>
                            <a href="http://news.hitwh.edu.cn/news_show.asp?id=19089" target="_blank"
                               title="语言文学学院“东亚文学的互动与生成”讲座">
                                <span class="rq">4-23</span>
                                语言文学学院“东亚文学的互动与生成”讲座
                            </a>
                        </li>
                        <li>
                            <a href="http://news.hitwh.edu.cn/news_show.asp?id=19087" target="_blank"
                               title="思想政治理论教学部学术报告">
                                <span class="rq">4-23</span>
                                思想政治理论教学部学术报告
                            </a>
                        </li>
                        <li>
                            <a href="http://news.hitwh.edu.cn/news_show.asp?id=19063" target="_blank"
                               title="转发：泰山产业领军人才工程战略性新兴产业创新类实施细则（试行）">
                                <span class="rq">4-21</span>
                                转发：泰山产业领军人才工程战略性新兴产业创新类实施..
                            </a>
                        </li>
                        <li>
                            <a href="http://news.hitwh.edu.cn/news_show.asp?id=18982" target="_blank"
                               title="海洋科学与技术学院学术报告">
                                <span class="rq">4-15</span>
                                海洋科学与技术学院学术报告
                            </a>
                        </li>
                        <li>
                            <a href="http://news.hitwh.edu.cn/news_show.asp?id=18944" target="_blank"
                               title="威海市海洋与渔业工作要点">
                                <span class="rq">4-13</span>
                                威海市海洋与渔业工作要点
                            </a>
                        </li>
                        <li>
                            <a href="http://news.hitwh.edu.cn/news_show.asp?id=18943" target="_blank"
                               title="威海市政府促进现代海洋渔业持续健康发展的实施意见">
                                <span class="rq">4-13</span>
                                威海市政府促进现代海洋渔业持续健康发展的实施意见
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- <div style=" clear:both;width:450px; height:13px; line-height:10px;text-align:right; margin-right:10px;">
                    <a id="gengduo" target="_blank" onclick="showmore();" href="http://news.hitwh.edu.cn" style="text-decoration:none;">+MORE</a>
                </div> -->
            </div>
            <div style=" clear:both;width:450px; height:13px; line-height:10px;text-align:right; margin-right:10px;">
                <a id="gengduo" target="_blank" onclick="showmore();" href="http://news.hitwh.edu.cn"
                   style="text-decoration:none;">+更多</a>
            </div>
        </div>

        <div class="news_bottom">
            <img src="images/news_bottom_logo.png"/>

            <span class="news_bottom_title">&nbsp;&nbsp;校园快讯&nbsp;:&nbsp;</span>

            <div class="news_bottom_title">
                <a href="#">十佳大学生投票进行中...</a>
            </div>

        </div>

        <div style="clear:both;width:100%;height:25px;"></div>

    </div>


    <div class="footer_bg">
        <div class="footer_container">
            <div class="footer_link">
                <a href="#">站长信箱</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">学工导航</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">下载中心</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">联系我们</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">网站管理</a>

            </div>

            <div class="footer_address">
			<span>
				版权所有&nbsp;&nbsp;&nbsp;&nbsp;&copy;2015-2018&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;哈尔滨工业大学（威海）学生工作处
				<br>通讯地址：山东省威海市文化西路2号H楼221室 &nbsp;&nbsp;电话：86-0631-5687637</span>
            </div>
        </div>
    </div>


</div>


