<!DOCTYPE HTML>
<html>
<head>
    <title>软件中心CMS内容管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/main-min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/assets/css/layout.css">

    <style>
        .home{
            float:left;
        }
        .home a{
            color:#eee;
        }
        .home a:hover{
            color:white;
        }
    </style>
</head>
<body>

<div class="header">

    <div class="dl-title">软件中心CMS内容管理系统</div><div  class="home" >&nbsp;&nbsp;<a target="_blank" href="{:U('Home/Index/index')}">[站点首页]</a></div>

    <div class="dl-log">欢迎您，<span class="dl-log-user">{$user.name}</span><a href="{:U('Admin/Main/outlogin')}" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
</div>
<div class="content">

    <div class="dl-main-nav">
        <div class="dl-inform">
            <div class="dl-inform-title">
                <s class="dl-inform-icon dl-up">
                </s>
            </div>
        </div>
        <ul id="J_Nav"  class="nav-list ks-clear">

            <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">网站管理</div></li>

            <if condition="$doc">
                <li class="nav-item dl-selected"><div class="nav-item-inner nav-goods">内容管理</div></li>
            </if>
            <if condition="$newsclass">
                <li class="nav-item dl-selected"><div class="nav-item-inner nav-order">菜单管理 </div></li>
            </if>
            <if condition="$message">
                <li class="nav-item dl-selected"><div class="nav-item-inner nav-sample">留言管理</div></li>
            </if>
            <if condition="$depart">
                <li class="nav-item dl-selected"><div class="nav-item-inner nav-distribution">部门管理 </div></li>
            </if>
            <if condition="$rbac">
                <li class="nav-item dl-selected"><div class="nav-item-inner nav-permission">权限管理 </div></li>
            </if>
            <if condition="$wechat">
                <li class="nav-item dl-selected"><div class="nav-item-inner nav-register">微信管理 </div></li>
            </if>
            <if condition="$setting">
                <li class="nav-item dl-selected"><div class="nav-item-inner nav-package">网站设置</div></li>
            </if>

            <li class="nav-item dl-selected"><div class="nav-item-inner nav-user">个人信息</div></li>

        </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>

</div>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/bui-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/common/main-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/config-min.js"></script>

<script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
<script src="http://g.alicdn.com/bui/bui/1.1.16/config.js"></script>
<script>
    var docM =
            {
                    id:'2',
                    menu: [
                                <volist name="list" id="vo1">
                                {
                                    text:'{$vo1.nav.name}',
                                    items:[
                                            <volist name="vo1.navlist" id="vo">
                                                <if condition="$vo['f']['typeid'] eq 3">
                                                {
                                                    id:'{$vo.f.id}',text:'{$vo.f.name}(单)',href:"{:U('Admin/NewsClass/edit')}?id={$vo.f.id}&typeid=3"
                                                },
												<elseif condition="$vo['f']['typeid'] eq 2" />
                                                {
                                                    id:'{$vo.f.id}',text:'{$vo.f.name}(外)',href:"{:U('Admin/NewsClass/edit')}?id={$vo.f.id}&typeid=2"
                                                },
                                                        <else/>
                                                {
                                                    id:'{$vo.f.id}',text:'{$vo.f.name}',href:"{:U('Admin/Doc/index')}?id={$vo.f.id}"
                                                },
                                                </if>

                                                //
                                                <volist name="vo.c" id="chd">
                                                <if condition="$chd['typeid'] eq 3">
                                                {
                                                    id:'{$chd.id}',text:'┗{$chd.name}(单)',href:"{:U('Admin/NewsClass/edit')}?id={$chd.id}&typeid=3"
                                                },
												<elseif condition="$chd['typeid'] eq 2" />
                                                {
                                                    id:'{$chd.id}',text:'┗{$chd.name}(外)',href:"{:U('Admin/NewsClass/edit')}?id={$chd.id}&typeid=2"
                                                },
											
                                                        <else/>
                                                {
                                                    id:'{$chd.id}',text:'┗{$chd.name}',href:"{:U('Admin/Doc/index')}?id={$chd.id}"
                                                },
                                                </if>
                                                </volist>
                                            </volist>
                                        ]
                                },
                                </volist>
                    ]
            };

    BUI.use('common/main',function(){
        var config = [
            {
                id:'1',
                menu:
                        [
                            {
                                text:'网站信息',
                                items:
                                        [
                                            {
                                                id:'1',text:'网站信息',href:"{:U('Admin/Main/infoshow')}"
                                            },
                                            {
                                                id:'2',text:'基本信息',href:"{:U('Admin/Main/infoshow2')}"
                                            },
                                            {
                                                id:'3',text:'统计信息',href:"{:U('Admin/Main/datashow')}"
                                            },
                                            {
                                                id:'4',text:'版权所有',href:"{:U('Admin/Main/copyright')}"
                                            },

                                        ]
                            },

                        ]
            },
                <if condition="$doc">
                    docM,
                </if>
                <if condition="$newsclass">
                    {
                        id:'8',
                        menu:
                                [
                                    {
                                        text:'菜单管理',
                                        items:
                                                [
                                                    {
                                                        id:'1',text:'管理导航',href:'{:U("Admin/NewsClass/navindex")}'
                                                    },
                                                    {
                                                        id:'2',text:'管理栏目',href:'{:U("Admin/NewsClass/index")}'
                                                    },
                                                    {
                                                        id:'3',text:'新增内部栏目',href:'{:U("Admin/NewsClass/add")}'
                                                    },
                                                    {
                                                        id:'4',text:'新增外部链接',href:'{:U("Admin/NewsClass/addurl")}'
                                                    },
                                                    {
                                                        id:'5',text:'新增单网页',href:'{:U("Admin/NewsClass/addpage")}'
                                                    }
                                                ]
                                    },
                                ]
                    },
                </if>

                <if condition="$message">
                    {
                        id:'3',
                        menu:
                                [
                                    {
                                        text:'网站留言管理',
                                        items:
                                                [
                                                    {
                                                        id:'1',text:'未回留言',href:"{:U('Admin/Message/index')}?type=0"
                                                    },
                                                    {
                                                        id:'2',text:'所有留言',href:"{:U('Admin/Message/index')}?type=1"
                                                    },
                                                ]
                                    },

                                ]
                    },
                </if>
                <if condition="$depart">
                    {
                        id:'4',
                        menu:
                                [
                                    {
                                        text:'部门管理',
                                        items:
                                                [
                                                    {
                                                        id:'1',text:'部门管理',href:'{:U("Admin/Depart/index")}'
                                                    },
                                                    {
                                                        id:'2',text:'部门添加',href:'{:U("Admin/Depart/add")}'
                                                    }
                                                ]
                                    },
                                ]
                    },
                </if>
                <if condition="$rbac">
                    {
                        id:'9',
                        menu:
                                [
                                    {
                                        text:'用户管理',
                                        items:
                                                [

                                                    {
                                                        id:'4',text:'查看所有用户',href:"{:U('Admin/Rbac/userList')}"
                                                    },
                                                    {
                                                        id:'5',text:'增加新用户',href:"{:U('Admin/Rbac/addUser')}"
                                                    }

                                                ]
                                    },
                                    {
                                        text:'角色管理',
                                        items:
                                                [

                                                    {
                                                        id:'6',text:'所有角色',href:"{:U('Admin/Rbac/roleList')}"
                                                    },
                                                    {
                                                        id:'7',text:'增加新角色',href:"{:U('Admin/Rbac/addRole')}"
                                                    }

                                                ]
                                    },
                                    {
                                        text:'权限管理',
                                        items:
                                                [

                                                    {
                                                        id:'8',text:'权限管理',href:"{:U('Admin/Rbac/nodeList')}"
                                                    },
                                                    {
                                                        id:'9',text:'添加权限',href:"{:U('Admin/Rbac/addNode')}"
                                                    }

                                                ]
                                    },
                                ]
                    },
                </if>
                 <if condition="$wechat">
                    {
                        id:'5',
                        menu:
                                [
                                    {
                                        text:'微信留言',
                                        items:
                                                [
                                                    {
                                                        id:'1',text:'未回留言',href:"{:U('Admin/Wechat/guestbook')}?type=0"
                                                    },
                                                    {
                                                        id:'2',text:'微信留言',href:"{:U('Admin/Wechat/guestbook')}?type=1"
                                                    },
                                                ]
                                    },
                                    {
                                        text:'微信设置',
                                        items:
                                                [
                                                    {
                                                        id:'3',text:'连接微信',href:"{:U('Admin/Wechat/connect')}"
                                                    },
                                                    {
                                                        id:'4',text:'关注列表',href:"{:U('Admin/Wechat/userlist')}"
                                                    },
                                                    {
                                                        id:'5',text:'创建菜单',href:"{:U('Admin/Wechat/createmenu')}"
                                                    },
                                                    {
                                                        id:'6',text:'获取菜单',href:"{:U('Admin/Wechat/getmenu')}"
                                                    },
                                                ]
                                    },
                                    {
                                        text:'消息回复',
                                        items:
                                                [
                                                    {
                                                        id:'1',text:'未回微信',href:"{:U('Admin/Wechat/msgreply')}?type=0"
                                                    },
                                                    {
                                                        id:'2',text:'微信消息',href:"{:U('Admin/Wechat/msgreply')}?type=1"
                                                    },
                                                ]
                                    },
                                ]
                    },
                </if>
                <if condition="$setting">
                    {
                        id:'6',
                        menu:
                                [
                                    {
                                        text:'网站设置',
                                        items:
                                                [
                                                    {
                                                        id:'1',text:'网站信息',href:"{:U('Admin/Setting/infoset')}"
                                                    },

                                                ]
                                    },

                                ]
                    },
                </if>
                    {
                        id:'7',
                        menu:
                                [
                                    {
                                        text:'个人信息',
                                        items:
                                                [
                                                    {
                                                        id:'1',text:'修改个人信息',href:"{:U('Admin/User/editinfo',array('id'=>$user['id']))}"},
                                                    {
                                                        id:'2',text:'修改密码',href:"{:U('Admin/User/editpwd',array('id'=>$user['id']))}"}

                                                ]
                                    },

                                ]
                    },
        ];
        new PageUtil.MainPage({
            modulesConfig : config
        });
    });
</script>

</body>
</html>